<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.playtogether_android.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".testdi.PlayTogetherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlayTogether_android"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".presentation.ui.mypage.OthersMyPageActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.main.SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".presentation.ui.thunder.OpenThunderDetailActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.message.ChattingActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.onboarding.JoinOnBoardingActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.onboarding.SecondOnboardingActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.thunder.list.view.ThunderListActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.home.ThunderAppliedActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.onboarding.FirstOnBoardingActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.sign.SignUpFinishActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.sign.SignUpMainActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.thunder.ApplyThunderDetailActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.sign.SignUpInfoActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.home.ThunderDetailActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.sign.SignInActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.createThunder.CreateThunderActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>